
@font-face{
	font-family: "Abhaya-Libre";
	src: url("../fonts/AbhayaLibre-Bold.ttf") format("ttf")
}

*{
	padding: 0;
	margin: 0;
	font-family: 'Abhaya Libre';
	color: white;
}

html, body{
	overflow-x: hidden;
	background: #1A1A1C;
    height: 100%;
}

.header-background {
    background: url(../img/1.jpg) rgba(0, 0, 0, 0.7); /* Прописываем путь к картинке и задаем цвет и прозрачность */
    background-size: cover; 
    background-blend-mode: multiply;
    height: 20%;
}

.black-line {
	background-color: #000000;
	width: 100%;
	text-align: center; /* Текст по центру */
	font-size: 14px;
	color: #fff; /* Цвет текста */
	padding: 20px 0; /* Отступ сверху и снизу */
	list-style-type: none;
}

.black-line li a{
	text-decoration: none;
	align-self: center;
	padding: 10px 15px;
	transition: background .2s linear;
}

.black-line li a:hover{
	background: #563D7C;
	border-radius: 3px;
}

.information-background {
	background: url(../img/2.jpg) rgba(0, 0, 0, 0.8); /* Прописываем путь к картинке и задаем цвет и прозрачность */
	background-size: cover; 
	background-blend-mode: multiply;
}

.grid-container {
	display: grid;
	padding: 50px 50px;
}

.grid-item {
	font-size: 0.9em;
	text-align: center;
}

@media screen and (min-width: 765px){
	.item1 {grid-column: 1; grid-row: 2;}
	.item2 {grid-column: 2; grid-row: 1 / span 3;}
	.item3 {grid-column: 1; grid-row: 1;}
	.item4 {grid-column: 1; grid-row: 3;}
	.item6 {grid-column: 3; grid-row: 2;}
	.item7 {grid-column: 3; grid-row: 3;}
}

@media screen and (max-width: 765px){
	.item1 { grid-area: 1 / span 3; }
	.item4 { grid-area: 2 / span 3; padding-bottom: 20%}
	.item6 { grid-area: 3 / span 3; }
	.item7 { grid-area: 4 / span 3; padding-bottom: 20%}
	.item2 { grid-area: 6 / span 3; }
}

.content-background {
	background: url(../img/3.png) rgba(0, 0, 0, 0.6); /* Прописываем путь к картинке и задаем цвет и прозрачность */
	background-size: cover; 
	background-blend-mode: multiply;
}

.content-container {
  display: grid;
  padding: 50px 50px;
}

.content-item {
  font-size: 0.9em;
  text-align: center;
}


@media screen and (min-width: 992px){
	.content1 {grid-column: 1; grid-row: 1; padding-bottom: 15px;}
	.content2 {grid-column: 2; grid-row: 1;}
	.content3 {grid-column: 3; grid-row: 1;}
	.content4 {grid-column: 1; grid-row: 2;}
	.content5 {grid-column: 2; grid-row: 2;}
	.content6 {grid-column: 3; grid-row: 2;}
}

@media screen and (max-width: 991px){
	.content1 {grid-column: 1; grid-row: 1; padding-bottom: 15px;}
	.content2 {grid-column: 2; grid-row: 1;}
	.content3 {grid-column: 1; grid-row: 2; padding-bottom: 15px;}
	.content4 {grid-column: 2; grid-row: 2;}
	.content5 {grid-column: 1; grid-row: 3;}
	.content6 {grid-column: 2; grid-row: 3;}
}

@media screen and (max-width: 767px){
	.content1 { grid-area: 1 / span 3; padding-bottom: 15px;}
	.content2 { grid-area: 2 / span 3; padding-bottom: 15px;}
	.content3 { grid-area: 3 / span 3; padding-bottom: 15px;}
	.content4 { grid-area: 4 / span 3; padding-bottom: 15px;}
	.content5 { grid-area: 5 / span 3; padding-bottom: 15px;}
	.content6 { grid-area: 6 / span 3;}
}

.padding-container {
  display: grid;
  padding: 50px 50px;
}

.padding-item {
  font-size: 0.9em;
  text-align: center;
}

@media screen and (min-width: 765px){
	.padding1 {grid-column: 1; grid-row: 1;}
	.padding2 {grid-column: 2; grid-row: 1;}
	.padding3 {grid-column: 3; grid-row: 1;}
	.padding4 {grid-column: 4; grid-row: 1;}
}

@media screen and (max-width: 767px){
	.padding1 { grid-area: 1 / span 3; padding-bottom: 15px;}
	.padding2 { grid-area: 2 / span 3; padding-bottom: 15px;}
	.padding3 { grid-area: 3 / span 3; padding-bottom: 15px;}
	.padding4 { grid-area: 4 / span 3;}
}