html, body, header, #intro1, #intro2, #intro3, #intro{
    height: 100%;  
    background: #1a1a1a;
}

#intro{
    height: 10%;
    background: #1a1a1a;
    background: url(../img/1.jpg) no-repeat center center fixed;  
    -webkit-background-size: cover;  
    background-size: cover;
}
nav{
    height: 5%;
    background: #1a1a1a;
}

#info{
    height: 85%;
    background: #1a1a1a;
}

.vertical-center {
  min-height: 85%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

   a {
    color: #fff; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:hover {
    color: #aaa; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }




.cont{
    font-size: 1.071rem;
    letter-spacing: 1.5px; /* промежуток между букв */
    line-height: 1.4;      /* промежуток между строк */
    display: block;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 820px;
    min-width: 80px;
    color: #fff;
    font-family: Roboto, Helvetica, Verdana, Roboto, sans-serif;
    font-weight: bold;      /* толщина шрифта */
}


/* выравнивание текста */

.leftt{
    text-align: left;
}
.rightt{
    text-align: right;
}
.centt{
    text-align: center;
}



 /* ширина блока с текстом */

.width4{
    width: 400px;
}
.width6{
    width: 600px;
}
.width8{
    width: 800px;
}
.width12{
    width: 1200px;
}



 /* прозрачность */

.transs{
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

