*{
	padding: 0;
	margin: 0;
	font-family: 'Abhaya Libre'. bold;
	color: white;
}
html, body{
	overflow-x: hidden;
	background: #1A1A1C;
    height: 100%;
}


.header-background {
    background: url(../img/6.jpg) rgba(0, 0, 0, 0.6); /* Прописываем путь к картинке и задаем цвет и прозрачность */
    background-size: cover; 
    background-blend-mode: multiply;
    height: 30%;
}
.information-background {
    background: url(../img/2.jpg) rgba(0, 0, 0, 0.6); /* Прописываем путь к картинке и задаем цвет и прозрачность */
    background-size: cover; 
    background-blend-mode: multiply;
}
.black-line {
	background-color: #000000;
	width: 100%;
	text-align: center; /* Текст по центру */
	font-size: 1em;
    color: #fff; /* Цвет текста */
    padding: 20px 0; /* Отступ сверху и снизу */
}

.grid-container {
  display: grid;
  justify-content: center;
  padding: 50px 50px;
}
.grid-item {
  font-size: 0.9em;
  text-align: left;
}
.item1{
	grid-column: 1;
	grid-row: 2
}
.item2 {
  grid-column: 2;
  grid-row: 1 / span 3;
}
.item4{
	grid-column: 1;
	grid-row: 3;
}
.item5 {
  grid-column: 3;
  grid-row: 3;
}
.item6{
	grid-column: 1;
	grid-row: 1;
}
.item7{
	grid-column: 2;
	grid-row: 1;
}
@media screen and (max-width: 765px){
	.item1 { grid-area: 1 / span 3; }
	.item4 { grid-area: 2 / span 3; }
	.item7 { grid-area: 4 / span 3; }
	.item6 { grid-area: 3 / span 3; }
	.item2 { grid-area: 5 / span 3; }
}